/*:root {
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --white: #fff;
  --slate: #434455;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
}*/
body {
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
/*-----HEADER---*/
.head {
}
.head-nav {
}
.head-logo {
  color: #2e2f42;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1, 17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.head-logo-accent {
  color: #4d5ae5;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.head-menu {
}
.head-menu-item {
}
.head-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.head-addres {
}
.head-address-list {
}

.head-address-item {
}
.head-address-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*------------ BOSS ------------*/

.boss {
  background: #2e2f42;
}
.boss-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.boss-btn {
  background: #4d5ae5;
  cursor: pointer;
}
.boss-btn-accent {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/* - ------- Advantages --------*/

.advantages {
}
.advantages-list {
}
.advantages-item {
}
.advantages-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.advantages-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* --------------- WORK ------------*/
.work {
}
.work-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* ---------------- TEAM ----------------*/

.team {
}
.team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-list {
}
.team-item {
}

.team-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*---------------- FOOTER --------------*/

.footer {
  background: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-logo-accent {
  color: #f4f4fd;
}

/*---------------- BUTTON --------------*/
.button-pr {
}
.button-title {
  color: #e7e9fc;
}
.button-accent {
  color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/*---------------- PRTF ---------------*/

.prtf {
}
.prtf-list {
}
.prtf-item {
  color: #e7e9fc;
}
.prtf-subtitel {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.prtf-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
